#wrapper {
	width: 960px;
	margin: 0 auto;
}

header {
	background: #333;
	float: left;
	width: 100%;
}

.header-left {
	float: left;
	padding: 20px;
}

.header-left a {
	text-decoration: none;
	font-size: 20px;
	color: white;
}

nav {
	float: right;
}

nav ul li {
	float: left;
	padding: 20px 0;
}

nav ul li:hover {
	background: #111;
}

nav ul li a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 0 20px;
}

.nav-search {
	clear: both;
	border-bottom: 1px solid #ccc;
	float: left;
	width: 100%;
}

.nav-search form {
	float: left;
	padding: 15px 20px;
}

.nav-search form input {
	padding: 5px;
}

.nav-search ul {
	float: right;
}

.nav-search ul li {
	float: left;
	padding: 20px;
}

section {
	clear: both;
}

footer {
	padding: 20px;
	text-align: center;
	line-height: 150%;
	font-size: 14px;
}